@font-face {
  font-family: "Rubik", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
}

html body {
  margin: 0px 0px;

  height: 100vh;
  width: 100vw;

  font-family: "Rubik", sans-serif;

  font-weight: 600;
  font-size: 10px;
  font-style: normal;

  text-align: center;
  text-transform: uppercase;
  color: #89cff0;

  background-color: #5072a7;
}

.title {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;

  background: #13274f;

  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
}

.taskPanel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 17px;
}
